DATABASE_URL="postgresql://neondb_owner:npg_UlDh3VrZA9oH@ep-morning-waterfall-b1r5tx2v-pooler.c-5.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="zmien-mnie-na-losowy-dlugi-string"
